.navbar {
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2002d;
  position: sticky;
  top: 0;
  width: 910px;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 150px;
  font-size: large;
}

.navbar ul li a:hover {
  background-color: #111;
}
